.additional-catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.additional-catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.additional-catalog__item-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
}

.additional-catalog__item-price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
}

.additional-catalog__item-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #68b738;
  color: #ffffff;
  border: none;
}
