.contact-data__title {
  font-size: 24px;
  .oswald400();
}

.contact-data__mail {
  font-size: 16px;
  .oswald400();
}

.contact-data__input {
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  .oswald400();
}

.contact-data__number {
  font-size: 16px;
  .oswald400();
}
