.form__title {
  font-size: 36px;
  .oswald400();
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald400();
}

.form__button {
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  .oswald400();
  .btn-color();
}

.form__necessarily-text {
  font-size: 14px;
  .lato400();
}
