.live-example {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.live-example__box {
  width: 280px;
  min-height: 659px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .live-example__box {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .live-example__box {
    width: 1220px;
    min-height: 568px;
    flex-direction: row;
  }
}

.live-example__result-box {
  margin: 20px 0 0 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .live-example__result-box {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .live-example__result-box {
    width: 366px;
  }
}

.live-example__result-weight-loss-box {
  width: 124px;
  min-height: 70px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
  }
}

.live-example__title {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 40px;
  .oswald400();

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 146px;
  }
}

.live-example__description {
  font-size: 14px;
  line-height: 18px;
  .base-color();
  .lato400();
  margin: 0;
  width: 280px;
  height: 108px;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    height: 96px;
  }
}

.live-example__description--only-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.live-example__prise {
  .oswald400();
  font-size: 14px;
  width: 188px;
  height: 20px;
  margin: 20px auto;
  display: flex;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 49px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin: 12px 0 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 327px;
    height: 20px;
    justify-content: space-between;
    margin: 55px 0 0;
  }
}

.live-example__slides {
  width: 280px;
  height: 256px;
}

@media (min-width: @tablet-width) {
  .live-example__slides {
    width: 560px;
    height: 512px;
  }
}

@media (min-width: @desktop-width) {
  .live-example__slides {
    margin: 0 0 auto auto;
  }
}
