.live-example__title {
  font-size: 36px;
  .oswald400();
}

.live-example__description {
  font-size: 14px;
  line-height: 18px;
  .base-color();
  .lato400();
}

.live-example__prise {
  .oswald400();
  font-size: 14px;
}
