.page-header {
  .oswald400();
}

.page-header__box {
  background: url("../img/background-cat-mobile.png")  no-repeat;
  width: 320px;
  min-height: 480px;
}

.page-header__background-cat {
  position: absolute;
}

.page-header__title {
  position: absolute;
  .oswald400();
  font-size: 36px;
  line-height: 36px;
  margin: 27px 35px 0;
  .base-white();
}

.page-header__subtitle {
  position: absolute;
  margin: 124px 61px 0;
  .oswald400();
  font-size: 14px;
  text-transform: uppercase;
  width: 198px;
  height: 14px;
  .base-white();
}

.page-header__cat-energy-food {
  position: absolute;
  margin: 168px 20px 0;
}

.page-header__button {
  margin: auto auto 0;
  text-decoration: none;
  .btn-color();
}
