.personal-data__name {
  .oswald400();
  font-size: 16px;
  color: #444444;
}

.personal-data__input {
  .oswald400();
  font-size: 16px;
  text-transform: uppercase;
  .base-color();
  border: 1px solid #e7e7e7;
}

.personal-data__weight {
  .oswald400();
  font-size: 16px;
  .base-color();
}

.personal-data__age {
  .oswald400();
  font-size: 16px;
  .base-color();
}
