.program__title {
  .oswald400();
  font-size: 24px;
}

.program__descriptiop {
  .lato400();
  font-size: 14px;
  line-height: 18px;
  .base-color();
}

.program__link {
  .oswald400();
  font-size: 16px;
  .base-black();
  text-decoration: none;
}
