.program-selection__weight-loss {
  .oswald400();
  font-size: 16px;
  color: #222222;
}

.program-selection__weight-gain {
  .oswald400();
  font-size: 16px;
  color: #222222;
}

.program-selection__dont-know {
  .oswald400();
  font-size: 16px;
  color: #222222;
}

